<div class="sub-heading">
<!--	  <div class="page-title">{{ text_products }}</div>-->
	</div>

<div id="home" class="content-wrapper">
	<div class="row g-4">

		{{ product_categories }}

		{{ checkout }}

	</div>
</div>
